In [13]:
# Import Libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
from sklearn.model_selection import train_test_split
import plotly.offline as py
py.init_notebook_mode(connected=True)
import plotly.graph_objs as go
import plotly.tools as tls

In [14]:
# Import the train and test dataset

train_df = pd.read_csv("train.csv", parse_dates=["first_active_month"]) #makes first_active_month column as datetime column 
test_df = pd.read_csv("test.csv", parse_dates=["first_active_month"])

print("Number of rows and columns in train set : ",train_df.shape)
print("Number of rows and columns in test set : ",test_df.shape)

Number of rows and columns in train set :  (201917, 6)
Number of rows and columns in test set :  (123623, 6)

In [15]:
# Created a elapsed time column for each id in train set:

import datetime
def read_data(input_file):
    df = pd.read_csv(input_file)
    df['first_active_month'] = pd.to_datetime(df['first_active_month'])
    df['year'] = df['first_active_month'].dt.year
    df['month'] = df['first_active_month'].dt.month
    df['elapsed_time'] = (datetime.date(2018, 2, 1) - df['first_active_month'].dt.date).dt.days
    return df
train_df = read_data('train.csv')
test_df = read_data('test.csv')

target = train_df['target']
del train_df['target']

In [16]:
train_df.head()

,first_active_month,card_id,feature_1,feature_2,feature_3,year,month,elapsed_time
0,2017-06-01,C_ID_92a2005557,5,2,1,2017,6,245
1,2017-01-01,C_ID_3d0044924f,4,1,0,2017,1,396
2,2016-08-01,C_ID_d639edf6cd,2,2,0,2016,8,549
3,2017-09-01,C_ID_186d6a6901,4,3,0,2017,9,153
4,2017-11-01,C_ID_cdbd2c0db2,1,3,0,2017,11,92

In [17]:
# Now converting feature columns into categorical columns

train_df['feature_1'] = train_df['feature_1'].astype('category')
train_df['feature_2'] = train_df['feature_2'].astype('category')
train_df['feature_3'] = train_df['feature_3'].astype('category')

test_df['feature_1'] = test_df['feature_1'].astype('category')
test_df['feature_2'] = test_df['feature_2'].astype('category')
test_df['feature_3'] = test_df['feature_3'].astype('category')

In [18]:
print("Data types of Train set: ")
print(train_df.dtypes)

print( " ")
print("Data types of Test set: ")
print(test_df.dtypes)

Data types of Train set:
first_active_month    datetime64[ns]
card_id                       object
feature_1                   category
feature_2                   category
feature_3                   category
year                           int64
month                          int64
elapsed_time                   int64
dtype: object

Data types of Test set:
first_active_month    datetime64[ns]
card_id                       object
feature_1                   category
feature_2                   category
feature_3                   category
target                       float64
year                         float64
month                        float64
elapsed_time                 float64
dtype: object

In [19]:
# checking missing data for test dataset

total = test_df.isnull().sum().sort_values(ascending = False)
percent = (test_df.isnull().sum()/test_df.isnull().count()*100).sort_values(ascending = False)
missing_data  = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data.head(20)

                    Total   Percent
elapsed_time            1  0.000809
month                   1  0.000809
year                    1  0.000809
first_active_month      1  0.000809
target                  0  0.000000
feature_3               0  0.000000
feature_2               0  0.000000
feature_1               0  0.000000
card_id                 0  0.000000

In [20]:
# Filling the missing value in test_df

test_df.loc[test_df['first_active_month'].isna(), 'first_active_month'] = test_df.loc[(test_df['feature_1'] == 5) & (test_df['feature_2'] == 2) & (test_df['feature_3'] == 1), 'first_active_month'].min()

__Checking for the missing values from the test_df and filling the missing values of ‘first_active_month’ column with the minimum month (in Timestamp) which satisfy the given condition on all the feature_1, feature_2 and feature_3 column values. These values for condition is chosen based on the data descriptions (manually found the row).__

In [21]:
# Now import the historical data

hist_df = pd.read_csv("historical_transactions.csv")
hist_df.head()

,authorized_flag,card_id,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,purchase_date,category_2,state_id,subsector_id
0,Y,C_ID_4e6213e9bc,88,N,0,A,80,M_ID_e020e9b302,-8,-0.703331,2017-06-25 15:33:07,1.0,16,37
1,Y,C_ID_4e6213e9bc,88,N,0,A,367,M_ID_86ec983688,-7,-0.733128,2017-07-15 12:10:45,1.0,16,16
2,Y,C_ID_4e6213e9bc,88,N,0,A,80,M_ID_979ed661fc,-6,-0.720386,2017-08-09 22:04:29,1.0,16,37
3,Y,C_ID_4e6213e9bc,88,N,0,A,560,M_ID_e6d5ae8ea6,-5,-0.735352,2017-09-02 10:06:26,1.0,16,34
4,Y,C_ID_4e6213e9bc,88,N,0,A,80,M_ID_e020e9b302,-11,-0.722865,2017-03-10 01:14:19,1.0,16,37

In [22]:
# Calculating the missing values in historical dataset

total = hist_df.isnull().sum().sort_values(ascending = False)
percent = (hist_df.isnull().sum()/hist_df.isnull().count()*100).sort_values(ascending = False)
missing_data  = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data.head(20)

                        Total   Percent
category_2            2652864  9.112500
category_3             178159  0.611970
merchant_id            138481  0.475678
subsector_id                0  0.000000
state_id                    0  0.000000
purchase_date               0  0.000000
purchase_amount             0  0.000000
month_lag                   0  0.000000
merchant_category_id        0  0.000000
installments                0  0.000000
category_1                  0  0.000000
city_id                     0  0.000000
card_id                     0  0.000000
authorized_flag             0  0.000000

__In this pre-processing step, the raw data is prepared in a polished way to be fed inside the network. So here, the ‘authorized_flag’ is converted to binary form where ‘Y’ corresponds to 1 and ‘N’ corresponds to 0. Until it is changed to binary format.__

In [23]:
# convert the authorized_flag to a binary value

hist_df['authorized_flag'] = hist_df['authorized_flag'].map({'Y':1, 'N':0})

Here we are calculating the aggerate functions of different columns in historical dataset.

In [24]:
# Calculating the aggregate of variables

def aggregate_historical_transactions(history):
    
    history.loc[:, 'purchase_date'] = pd.DatetimeIndex(history['purchase_date']).\
                                      astype(np.int64) * 1e-9
    
    agg_func = {
        'authorized_flag': ['sum', 'mean'],
        'merchant_id': ['nunique'],
        'city_id': ['nunique'],
        'purchase_amount': ['sum', 'median', 'max', 'min', 'std'],
        'installments': ['sum', 'median', 'max', 'min', 'std'],
        'purchase_date': [np.ptp],
        'month_lag': ['min', 'max']
        }
    agg_history = history.groupby(['card_id']).agg(agg_func)
    agg_history.columns = ['hist_' + '_'.join(col).strip() 
                           for col in agg_history.columns.values]
    agg_history.reset_index(inplace=True)
    
    df = (history.groupby('card_id')
          .size()
          .reset_index(name='hist_transactions_count'))
    
    agg_history = pd.merge(df, agg_history, on='card_id', how='left')
    
    return agg_history

history = aggregate_historical_transactions(hist_df)

In [25]:
# Merge history data and train data 

train_df = pd.merge(train_df, history, on='card_id', how='left')
test_df = pd.merge(test_df, history, on='card_id', how='left')
train_df.head()

,first_active_month,card_id,feature_1,feature_2,feature_3,year,month,elapsed_time,hist_transactions_count,hist_authorized_flag_sum,...,hist_purchase_amount_min,hist_purchase_amount_std,hist_installments_sum,hist_installments_median,hist_installments_max,hist_installments_min,hist_installments_std,hist_purchase_date_ptp,hist_month_lag_min,hist_month_lag_max
0,2017-06-01,C_ID_92a2005557,5,2,1,2017,6,245,260,247,...,-0.739395,0.212139,4,0.0,1,0,0.123314,20977987.0,-8,0
1,2017-01-01,C_ID_3d0044924f,4,1,0,2017,1,396,350,339,...,-0.742400,0.384967,543,1.0,10,-1,1.510777,33717687.0,-12,0
2,2016-08-01,C_ID_d639edf6cd,2,2,0,2016,8,549,43,41,...,-0.730138,0.087380,0,0.0,0,0,0.000000,35635623.0,-13,0
3,2017-09-01,C_ID_186d6a6901,4,3,0,2017,9,153,77,77,...,-0.740897,0.261624,84,1.0,3,-1,0.588974,13375339.0,-5,0
4,2017-11-01,C_ID_cdbd2c0db2,1,3,0,2017,11,92,133,128,...,-0.746156,1.352094,182,1.0,12,1,1.896862,9405641.0,-3,0

### to do: filling the null values in new and old merchant and historical dataset

In [26]:
# Import old Merchant data

merchant_df = pd.read_csv("merchants.csv")
print("shape of merchant : ",merchant_df.shape)

shape of merchant :  (334696, 22)

In [30]:
merchant_df.head()

,merchant_id,merchant_group_id,merchant_category_id,subsector_id,numerical_1,numerical_2,category_1,most_recent_sales_range,most_recent_purchases_range,avg_sales_lag3,...,avg_sales_lag6,avg_purchases_lag6,active_months_lag6,avg_sales_lag12,avg_purchases_lag12,active_months_lag12,category_4,city_id,state_id,category_2
0,M_ID_838061e48c,8353,792,9,-0.057471,-0.057471,N,E,E,-0.40,...,-2.25,18.666667,6,-2.32,13.916667,12,N,242,9,1.0
1,M_ID_9339d880ad,3184,840,20,-0.057471,-0.057471,N,E,E,-0.72,...,-0.74,1.291667,6,-0.57,1.687500,12,N,22,16,1.0
2,M_ID_e726bbae1e,447,690,1,-0.057471,-0.057471,N,E,E,-82.13,...,-82.13,260.000000,2,-82.13,260.000000,2,N,-1,5,5.0
3,M_ID_a70e9c5f81,5026,792,9,-0.057471,-0.057471,Y,E,E,NaN,...,NaN,4.666667,6,NaN,3.833333,12,Y,-1,-1,NaN
4,M_ID_64456c37ce,2228,222,21,-0.057471,-0.057471,Y,E,E,NaN,...,NaN,0.361111,6,NaN,0.347222,12,Y,-1,-1,NaN

In [29]:
# checking missing data of old merchant data

total = merchant_df.isnull().sum().sort_values(ascending = False)
percent = (merchant_df.isnull().sum()/merchant_df.isnull().count()*100).sort_values(ascending = False)
missing_data  = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data.head(20)

                             Total   Percent
category_2                   11887  3.551581
avg_sales_lag3                  13  0.003884
avg_sales_lag12                 13  0.003884
avg_sales_lag6                  13  0.003884
merchant_group_id                0  0.000000
merchant_category_id             0  0.000000
subsector_id                     0  0.000000
numerical_1                      0  0.000000
numerical_2                      0  0.000000
category_1                       0  0.000000
most_recent_sales_range          0  0.000000
most_recent_purchases_range      0  0.000000
avg_purchases_lag3               0  0.000000
state_id                         0  0.000000
active_months_lag3               0  0.000000
avg_purchases_lag6               0  0.000000
active_months_lag6               0  0.000000
avg_purchases_lag12              0  0.000000
active_months_lag12              0  0.000000
category_4                       0  0.000000

In [31]:
# Import new merchant data file

new_merchant_df = pd.read_csv("new_merchant_transactions.csv")
print("shape of new_merchant_transactions : ",new_merchant_df.shape)

shape of new_merchant_transactions :  (1048575, 14)

In [32]:
# Calculating the missing values in new merchant dataset

total = new_merchant_df.isnull().sum().sort_values(ascending = False)
percent = (new_merchant_df.isnull().sum()/new_merchant_df.isnull().count()*100).sort_values(ascending = False)
missing_data  = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data.head(20)

                      Total   Percent
category_2            52936  5.048375
category_3            26054  2.484705
merchant_id           12044  1.148606
subsector_id              0  0.000000
state_id                  0  0.000000
purchase_date             0  0.000000
purchase_amount           0  0.000000
month_lag                 0  0.000000
merchant_category_id      0  0.000000
installments              0  0.000000
category_1                0  0.000000
city_id                   0  0.000000
card_id                   0  0.000000
authorized_flag           0  0.000000

In [33]:
# convert the authorized_flag to a binary value

new_merchant_df['authorized_flag'] = new_merchant_df['authorized_flag'].map({'Y':1, 'N':0})

In [34]:
def aggregate_new_transactions(new_trans):    
    agg_func = {
        'authorized_flag': ['sum', 'mean'],
        'merchant_id': ['nunique'],
        'city_id': ['nunique'],
        'purchase_amount': ['sum', 'median', 'max', 'min', 'std'],
        'installments': ['sum', 'median', 'max', 'min', 'std'],
        'month_lag': ['min', 'max']
        }
    agg_new_trans = new_trans.groupby(['card_id']).agg(agg_func)
    agg_new_trans.columns = ['new_' + '_'.join(col).strip() 
                           for col in agg_new_trans.columns.values]
    agg_new_trans.reset_index(inplace=True)
    
    df = (new_trans.groupby('card_id')
          .size()
          .reset_index(name='new_transactions_count'))
    
    agg_new_trans = pd.merge(df, agg_new_trans, on='card_id', how='left')
    
    return agg_new_trans

new_merchant_df = aggregate_new_transactions(new_merchant_df)

In [35]:
# Printing the New Merchant data 

new_merchant_df.head()

,card_id,new_transactions_count,new_authorized_flag_sum,new_authorized_flag_mean,new_merchant_id_nunique,new_city_id_nunique,new_purchase_amount_sum,new_purchase_amount_median,new_purchase_amount_max,new_purchase_amount_min,new_purchase_amount_std,new_installments_sum,new_installments_median,new_installments_max,new_installments_min,new_installments_std,new_month_lag_min,new_month_lag_max
0,C_ID_0001238066,26,26,1,25,8,-14.850055,-0.649235,-0.078318,-0.740897,0.173436,42,1.0,10,-1,2.079941,1,2
1,C_ID_0001793786,31,31,1,31,7,-0.229620,-0.372748,3.129932,-0.737892,0.947223,0,0.0,0,0,0.000000,1,2
2,C_ID_000183fdda,11,11,1,11,2,-6.590778,-0.665765,-0.107680,-0.732332,0.182877,16,1.0,4,-1,1.293340,1,2
3,C_ID_00032df08f,8,8,1,7,1,-2.791535,-0.478579,0.449203,-0.640520,0.366423,8,1.0,1,1,0.000000,2,2
4,C_ID_00057b99fe,1,1,1,1,1,-0.701828,-0.701828,-0.701828,-0.701828,NaN,0,0.0,0,0,NaN,1,1

In [36]:
# Merge train data and new merchant data:

train_df = pd.merge(train_df, new_merchant_df, on='card_id', how='left')
test_df = pd.merge(test_df, new_merchant_df, on='card_id', how='left')
train_df.shape

(201917, 43)

In [37]:
train_df.head()

,first_active_month,card_id,feature_1,feature_2,feature_3,year,month,elapsed_time,hist_transactions_count,hist_authorized_flag_sum,...,new_purchase_amount_max,new_purchase_amount_min,new_purchase_amount_std,new_installments_sum,new_installments_median,new_installments_max,new_installments_min,new_installments_std,new_month_lag_min,new_month_lag_max
0,2017-06-01,C_ID_92a2005557,5,2,1,2017,6,245,260,247,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2017-01-01,C_ID_3d0044924f,4,1,0,2017,1,396,350,339,...,-0.701858,-0.739410,0.014326,6.0,1.0,1.0,1.0,0.000000,1.0,2.0
2,2016-08-01,C_ID_d639edf6cd,2,2,0,2016,8,549,43,41,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2017-09-01,C_ID_186d6a6901,4,3,0,2017,9,153,77,77,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2017-11-01,C_ID_cdbd2c0db2,1,3,0,2017,11,92,133,128,...,0.450886,-0.739395,0.223821,35.0,1.0,2.0,-1.0,0.376913,1.0,2.0

In [38]:
# Printing the categories of the variables

use_cols = [col for col in train_df.columns if col not in ['card_id', 'first_active_month']]

train_df = train_df[use_cols]
test_df = test_df[use_cols]

features = list(train_df[use_cols].columns)
categorical_feats = [col for col in features if 'feature_' in col]

for col in categorical_feats:
    print(col, 'have', train_df[col].value_counts().shape[0], 'categories.')

feature_1 have 5 categories.
feature_2 have 3 categories.
feature_3 have 2 categories.

__It’s trying to find out the number of categories every feature is having.__

In [39]:
# Changing the categorical column into numerical form

from sklearn.preprocessing import LabelEncoder
for col in categorical_feats:
    print(col)
    lbl = LabelEncoder()
    lbl.fit(list(train_df[col].values.astype('str')) + list(test_df[col].values.astype('str')))
    train_df[col] = lbl.transform(list(train_df[col].values.astype('str')))
    test_df[col] = lbl.transform(list(test_df[col].values.astype('str')))

feature_1
feature_2
feature_3

__Since all the features columns have different class, the label encoder is generated for each classes and changed it to the numbers.__

In [40]:
# Merge train data and test data

df_all = pd.concat([train_df, test_df])
df_all = pd.get_dummies(df_all, columns=categorical_feats)

len_train_df = train_df.shape[0]

train = df_all[:len_train_df]
test = df_all[len_train_df:]
train.shape

(201917, 48)

In [41]:
# Printing the head of the final train dataset

train.head()

,year,month,elapsed_time,hist_transactions_count,hist_authorized_flag_sum,hist_authorized_flag_mean,hist_merchant_id_nunique,hist_city_id_nunique,hist_purchase_amount_sum,hist_purchase_amount_median,...,feature_1_0,feature_1_1,feature_1_2,feature_1_3,feature_1_4,feature_2_0,feature_2_1,feature_2_2,feature_3_0,feature_3_1
0,2017.0,6.0,245.0,260,247,0.950000,94,7,-165.968739,-0.698042,...,0,0,0,0,1,0,1,0,0,1
1,2017.0,1.0,396.0,350,339,0.968571,142,9,-210.006336,-0.708590,...,0,0,0,1,0,1,0,0,1,0
2,2016.0,8.0,549.0,43,41,0.953488,13,5,-29.167391,-0.698868,...,0,1,0,0,0,0,1,0,1,0
3,2017.0,9.0,153.0,77,77,1.000000,50,7,-49.491364,-0.707989,...,0,0,0,1,0,0,0,1,1,0
4,2017.0,11.0,92.0,133,128,0.962406,66,6,-48.687656,-0.689807,...,1,0,0,0,0,0,0,1,1,0

__Since all the preprocessing are done. The train data is now merged to test data. Now we have 48 variables all together after preprocessing and merging the historical, merchant and train datasets.__

In [42]:
corr = train.corr()
corr

,year,month,elapsed_time,hist_transactions_count,hist_authorized_flag_sum,hist_authorized_flag_mean,hist_merchant_id_nunique,hist_city_id_nunique,hist_purchase_amount_sum,hist_purchase_amount_median,...,feature_1_0,feature_1_1,feature_1_2,feature_1_3,feature_1_4,feature_2_0,feature_2_1,feature_2_2,feature_3_0,feature_3_1
year,1.000000,-0.119644,-0.938988,-0.092920,-0.087409,0.007952,-0.059279,-0.014634,0.001545,0.008370,...,0.088519,0.115044,-0.130126,0.079872,-0.083762,0.100575,0.029293,-0.164255,0.194084,-0.194084
month,-0.119644,1.000000,-0.229130,-0.101082,-0.096008,0.030220,-0.096375,-0.057505,-0.001982,0.003735,...,0.037731,-0.000749,-0.020847,-0.000937,0.004273,0.041696,-0.043482,0.000752,0.016784,-0.016784
elapsed_time,-0.938988,-0.229130,1.000000,0.126030,0.118870,-0.018283,0.091434,0.034233,-0.000825,-0.009503,...,-0.099886,-0.112443,0.134794,-0.078010,0.080586,-0.112936,-0.013779,0.160785,-0.196046,0.196046
hist_transactions_count,-0.092920,-0.101082,0.126030,1.000000,0.994572,0.149331,0.859495,0.561965,-0.004046,-0.109555,...,0.123048,-0.067749,-0.057878,0.035862,0.045724,-0.052114,0.109418,-0.069104,0.019213,-0.019213
hist_authorized_flag_sum,-0.087409,-0.096008,0.118870,0.994572,1.000000,0.212267,0.865707,0.566279,-0.004092,-0.109118,...,0.138258,-0.069417,-0.063201,0.047265,0.036516,-0.048001,0.103933,-0.067549,0.031827,-0.031827
hist_authorized_flag_mean,0.007952,0.030220,-0.018283,0.149331,0.212267,1.000000,0.218843,0.149884,-0.000701,-0.081984,...,0.147387,-0.025587,-0.086408,0.133141,-0.053734,0.015911,-0.014002,-0.002919,0.127352,-0.127352
hist_merchant_id_nunique,-0.059279,-0.096375,0.091434,0.859495,0.865707,0.218843,1.000000,0.738163,-0.003910,-0.116529,...,0.191111,-0.080486,-0.090430,0.075142,0.029618,-0.021792,0.071723,-0.061038,0.063844,-0.063844
hist_city_id_nunique,-0.014634,-0.057505,0.034233,0.561965,0.566279,0.149884,0.738163,1.000000,-0.003418,-0.049349,...,0.155055,-0.064598,-0.127162,0.067265,0.083139,0.054625,-0.005127,-0.063174,0.056220,-0.056220
hist_purchase_amount_sum,0.001545,-0.001982,-0.000825,-0.004046,-0.004092,-0.000701,-0.003910,-0.003418,1.000000,0.000260,...,-0.000971,-0.000972,0.002593,-0.000852,-0.000822,0.001912,-0.000466,-0.001857,-0.001853,0.001853
hist_purchase_amount_median,0.008370,0.003735,-0.009503,-0.109555,-0.109118,-0.081984,-0.116529,-0.049349,0.000260,1.000000,...,0.054982,-0.047478,-0.154362,0.041052,0.175279,0.089131,-0.069469,-0.027452,0.008107,-0.008107
hist_purchase_amount_max,0.001071,-0.002447,-0.000200,0.000740,0.000677,0.000075,0.000113,-0.000901,0.999975,-0.001012,...,-0.000694,-0.001133,0.002655,-0.000778,-0.000936,0.001467,0.000207,-0.002123,-0.001821,0.001821
hist_purchase_amount_min,0.005376,0.008448,-0.008200,-0.084072,-0.081705,-0.007832,-0.095345,-0.067474,0.000071,0.522730,...,0.017528,-0.003323,-0.055180,0.018170,0.046091,0.022879,-0.020549,-0.003684,0.016297,-0.016297
hist_purchase_amount_std,0.001362,-0.002268,-0.000547,-0.001393,-0.001363,0.000148,-0.001614,-0.001779,0.997685,-0.000777,...,-0.000622,-0.001276,0.002828,-0.000666,-0.001110,0.002226,-0.001115,-0.001453,-0.001849,0.001849
hist_installments_sum,0.010800,-0.079324,0.016890,0.438452,0.436555,0.036209,0.455606,0.374648,-0.003314,0.031071,...,0.296198,-0.058665,-0.264518,0.186465,0.069454,0.282654,-0.329094,0.047595,0.200645,-0.200645
hist_installments_median,0.066056,0.015081,-0.069922,-0.143228,-0.142442,-0.088229,-0.133189,-0.035507,-0.001950,0.353563,...,0.133632,0.066896,-0.307103,0.142182,0.109441,0.326862,-0.425731,0.110941,0.209651,-0.209651
hist_installments_max,0.013926,-0.007119,-0.011186,0.013461,0.013271,-0.008936,0.022815,0.034840,-0.000411,0.033546,...,0.042876,0.006430,-0.071088,0.037037,0.025315,0.071980,-0.086795,0.015820,0.048545,-0.048545
hist_installments_min,-0.054536,-0.052508,0.071657,-0.118709,-0.120681,-0.042609,-0.178614,-0.136136,-0.000107,0.044010,...,-0.009833,-0.000754,-0.014494,-0.008352,0.030256,0.029509,-0.018169,-0.015067,-0.010398,0.010398
hist_installments_std,0.029038,0.002418,-0.029297,-0.053523,-0.054391,-0.043529,-0.043754,-0.006410,-0.000439,0.084008,...,0.029698,0.023169,-0.095636,0.042109,0.040125,0.095070,-0.122580,0.030726,0.060400,-0.060400
hist_purchase_date_ptp,-0.461440,-0.346725,0.572328,0.370951,0.359381,-0.003103,0.331706,0.229588,-0.003464,-0.013828,...,-0.054244,-0.057928,0.027027,-0.045210,0.097812,-0.116543,0.115657,0.005172,-0.105348,0.105348
hist_month_lag_min,0.463173,0.366787,-0.580974,-0.324640,-0.313363,0.018132,-0.285775,-0.195201,0.003357,-0.000491,...,0.062043,0.060247,-0.034973,0.046550,-0.096460,0.121825,-0.115108,-0.012573,0.111970,-0.111970
hist_month_lag_max,0.065330,0.067304,-0.087346,0.122953,0.121543,0.042955,0.127836,0.104391,0.000049,-0.046359,...,0.027448,0.016562,-0.036021,0.010179,0.000991,0.048336,-0.025554,-0.029888,0.034171,-0.034171
new_transactions_count,0.114424,0.079770,-0.138933,0.292305,0.300993,0.180442,0.423425,0.372834,-0.009431,-0.053045,...,0.233496,-0.114362,-0.120829,0.119270,0.002193,0.026299,0.007672,-0.044327,0.112018,-0.112018
new_authorized_flag_sum,0.114424,0.079770,-0.138933,0.292305,0.300993,0.180442,0.423425,0.372834,-0.009431,-0.053045,...,0.233496,-0.114362,-0.120829,0.119270,0.002193,0.026299,0.007672,-0.044327,0.112018,-0.112018
new_authorized_flag_mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
new_merchant_id_nunique,0.113910,0.079778,-0.138444,0.292942,0.301659,0.180783,0.424206,0.373770,-0.009161,-0.052609,...,0.233756,-0.114883,-0.121546,0.119778,0.003014,0.026344,0.008309,-0.045199,0.112040,-0.112040
new_city_id_nunique,0.078708,0.032595,-0.087371,0.246859,0.254311,0.146954,0.372112,0.519117,-0.009790,0.002509,...,0.189481,-0.091583,-0.149229,0.093472,0.063632,0.079290,-0.043713,-0.048424,0.089824,-0.089824
new_purchase_amount_sum,-0.072702,-0.063409,0.092959,-0.252210,-0.256501,-0.118953,-0.342406,-0.277753,0.011333,0.179962,...,-0.038866,0.039281,-0.002865,-0.055622,0.033590,0.052482,-0.076309,0.028349,-0.024055,0.024055
new_purchase_amount_median,0.003193,-0.003762,-0.001690,-0.059621,-0.057982,0.005757,-0.057010,-0.010144,0.007835,0.459646,...,0.075542,-0.048271,-0.124374,0.055204,0.100436,0.071549,-0.063227,-0.013376,0.037110,-0.037110
new_purchase_amount_max,0.066807,0.023084,-0.072465,0.072532,0.079838,0.103777,0.130762,0.142044,0.002758,0.208058,...,0.292630,-0.113052,-0.180351,0.100782,0.043186,0.123929,-0.101982,-0.032772,0.135412,-0.135412
new_purchase_amount_min,-0.016954,-0.013062,0.021040,-0.077089,-0.076924,-0.025741,-0.090248,-0.053566,0.005167,0.228228,...,0.009488,-0.016931,-0.067378,0.021679,0.073787,0.048446,-0.044752,-0.006584,0.004671,-0.004671
new_purchase_amount_std,0.048057,0.010352,-0.049760,0.026933,0.032626,0.079076,0.063423,0.086438,0.004595,0.337717,...,0.235007,-0.097021,-0.168702,0.091724,0.058789,0.114214,-0.095301,-0.028636,0.111852,-0.111852
new_installments_sum,0.153688,0.070451,-0.173081,0.079093,0.092764,0.160492,0.188954,0.220371,-0.009315,0.089898,...,0.377953,-0.066691,-0.323512,0.257502,-0.028698,0.291827,-0.376571,0.096760,0.327454,-0.327454
new_installments_median,0.093154,0.026212,-0.098804,-0.103023,-0.096875,0.026245,-0.068970,0.012064,-0.002807,0.199977,...,0.197185,0.047172,-0.328471,0.183094,0.043428,0.349531,-0.470031,0.140116,0.274679,-0.274679
new_installments_max,0.066930,0.027227,-0.074104,-0.018581,-0.013081,0.056530,0.015296,0.039132,-0.002910,0.085032,...,0.137304,-0.000987,-0.167856,0.122282,-0.000058,0.145239,-0.198972,0.062890,0.158088,-0.158088
new_installments_min,-0.021383,-0.038818,0.034761,-0.056785,-0.057797,-0.044458,-0.076577,-0.029260,0.000715,0.039691,...,0.009531,0.028303,-0.074570,0.008362,0.043113,0.108923,-0.130948,0.023870,0.035873,-0.035873
new_installments_std,0.069312,0.028844,-0.076898,-0.064826,-0.059392,0.046317,-0.038438,-0.002040,-0.001597,0.149563,...,0.122547,0.016643,-0.193589,0.134294,0.010110,0.166667,-0.241798,0.089393,0.173933,-0.173933
new_month_lag_min,-0.066750,-0.050345,0.082461,-0.097758,-0.100958,-0.083156,-0.124751,-0.097102,0.004269,0.029648,...,-0.050301,0.018392,0.021469,-0.026780,0.012708,-0.026861,0.011238,0.020957,-0.030335,0.030335
new_month_lag_max,0.053287,0.038995,-0.065374,0.084422,0.087951,0.078471,0.110784,0.088708,-0.000300,-0.020541,...,0.052755,-0.007864,-0.043607,0.031907,-0.004144,0.013670,-0.001174,-0.016459,0.044357,-0.044357
feature_1_0,0.088519,0.037731,-0.099886,0.123048,0.138258,0.147387,0.191111,0.155055,-0.000971,0.054982,...,1.000000,-0.155586,-0.190630,-0.083216,-0.126360,0.050036,-0.070525,0.023610,0.287278,-0.287278
feature_1_1,0.115044,-0.000749,-0.112443,-0.067749,-0.069417,-0.025587,-0.080486,-0.064598,-0.000972,-0.047478,...,-0.155586,1.000000,-0.467867,-0.204239,-0.310128,-0.003541,0.086867,-0.103008,0.705071,-0.705071
feature_1_2,-0.130126,-0.020847,0.134794,-0.057878,-0.063201,-0.086408,-0.090430,-0.127162,0.002593,-0.154362,...,-0.190630,-0.467867,1.000000,-0.250242,-0.379981,-0.163854,-0.060774,0.283753,-0.663574,0.663574
feature_1_3,0.079872,-0.000937,-0.078010,0.035862,0.047265,0.133141,0.075142,0.067265,-0.000852,0.041052,...,-0.083216,-0.204239,-0.250242,1.000000,-0.165874,0.013567,-0.015391,0.001783,0.377113,-0.377113
feature_1_4,-0.083762,0.004273,0.080586,0.045724,0.036516,-0.053734,0.029618,0.083139,-0.000822,0.175279,...,-0.126360,-0.310128,-0.379981,-0.165874,1.000000,0.161014,0.029150,-0.240998,-0.439853,0.439853
feature_2_0,0.100575,0.041696,-0.112936,-0.052114,-0.048001,0.015911,-0.021792,0.054625,0.001912,0.089131,...,0.050036,-0.003541,-0.163854,0.013567,0.161014,1.000000,-0.682967,-0.427360,0.028860,-0.028860
feature_2_1,0.029293,-0.043482,-0.013779,0.109418,0.103933,-0.014002,0.071723,-0.005127,-0.000466,-0.069469,...,-0.070525,0.086867,-0.060774,-0.015391,0.029150,-0.682967,1.000000,-0.368513,0.035429,-0.035429
feature_2_2,-0.164255,0.000752,0.160785,-0.069104,-0.067549,-0.002919,-0.061038,-0.063174,-0.001857,-0.027452,...,0.023610,-0.103008,0.283753,0.001783,-0.240998,-0.427360,-0.368513,1.000000,-0.080580,0.080580
feature_3_0,0.194084,0.016784,-0.196046,0.019213,0.031827,0.127352,0.063844,0.056220,-0.001853,0.008107,...,0.287278,0.705071,-0.663574,0.377113,-0.439853,0.028860,0.035429,-0.080580,1.000000,-1.000000
feature_3_1,-0.194084,-0.016784,0.196046,-0.019213,-0.031827,-0.127352,-0.063844,-0.056220,0.001853,-0.008107,...,-0.287278,-0.705071,0.663574,-0.377113,0.439853,-0.028860,-0.035429,0.080580,-1.000000,1.000000